.rate {
  align-items: center;
  margin: 8px 0;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 8px;

  &--change {
    margin: 4px 8px;
    font-size: larger;

   &__input {
      font-size: larger;
      font-weight: bolder
    }

    &__text {
      font-size: 26px;
      font-weight: bolder;
    }
  }

  &--fixed {
    display: block;
    background-color: lightpink;
    padding: 4px;
    font-weight: bold;
    width: fit-content;
    border-radius: 6px;
  }

  .alert {
    font-weight: bolder;
    color: orangered;
  }
}
